html,
li,
h1,
h2,
h3,
nav,
body,
div,
img,
a,
ul,
li,
span,
main {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}

* {
	box-sizing: border-box;
}

ol,
ul {
	list-style: none;
}

* {
	box-sizing: border-box;
}